*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    
    --color-bg: #F1F3FF;

    --transition: all 400ms ease;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.window-scroll{
    background: #F1F3FF;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}


.btn{
    display: inline-block;
    background-color: #5CB85F;
    color: #ffff;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    /* font-weight: 500; */
    transition: var(--transition);
}
.btn:hover{
    background: transparent;
    color: #ffff;
    border-color:#5CB85F;
}

nav{
    background: var(--color-bg);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.logo{
    padding: 1rem 3rem;
    /* display: inline-block; */
    background-color: darkblue;
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display: none;
}
.nav__menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav__menu a{
    font-size: 0.9rem;
    transition: var(--transition);
}
/* .nav__menu a:hover{
    color: var(--color-bg2);
} */
.nav__list{
    color: black;
}
.nav__register{
    padding: 0.5rem 2rem;
    background-color: #5CB85F;
    color: #ffff;
    font-weight: bold;
}


/* header */
header{
    position: relative;
    /* padding-top: 1rem; */
    top: 5rem;
    overflow: hidden;
    height: 64vh;
    /* margin-bottom: 5rem; */
    background-color: var(--color-bg);
}
.header__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
    margin-top: 3rem;
    /* padding: 2rem 1rem; */
}
.header__left{
    width: 76%;
    /* padding-left: 10%; */
    margin-left: 24%;
}
.header__left p{
    margin: 1rem 0 2.4rem;
    width: 80%;
    /* width: var(--container-width-lg); */
}
.header__left h1{
    font-size: 2.8rem;
}
/* .header__right{
    width: 100%;
    z-index: 1;
} */
/* .img__hero{
    width: 100%;
} */


/* services */
.our_services{
    /* position: relative; */
    background-color: #ffff;
    height: auto;
}
.our_service_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10rem;
    height: 100%;
    margin-top: 12%;
}
ul li{
    margin-top: 1.5rem;
}
.service{
    display: inline;
}
.service_right{
    width: 78%;
  
}
.service_right p{
    margin-top: 1.3rem;
}
.checklist_icon{
    width: auto;
    display: inline;
    /* margin-top: 5%; */
}
span{
    margin-left: 0.5rem;
    /* margin-top:3rem; */
    position: relative;
    bottom: 0.5rem;
}


/* whyus */
.why-us{
    margin-top: 12rem;
    height: 32rem;
}
.why-us p{
    margin-top: 1.4rem;
}
.why-us-main{
    margin-top: 3rem;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 22rem);
    gap: 4rem;
}

.why_us{
    border: solid lightgrey;
    border-width: thin;
    padding: 2rem;
    border-radius: 1rem;
    transition: var(--transition);
}
.why_us:hover{
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.1);
}
.why-us-icon{
    /* padding: 0.7rem; */
    /* border-radius: 0.8rem; */
}
.why-us-icon-img{
    width: auto;
}
.why_us h5{
    margin: 0.5rem 0 0.4rem;
}
.why_us p{
    font-size: 0.9rem;
}

/* testimonial */
.testimonials h1{
    text-align: center;
}
.testimonials p{
    text-align: center;
    margin-top: 1rem;
}

.badge {
    color: goldenrod;
    text-transform: uppercase;
    font-size: 10px;
}
.testimonial-card {
    margin-top: 1.5rem;
    height: 20vh;
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 10px -8px;
    display: flex;
    flex-direction: column;
}
.testimonial-card p {
    font-size: 13px;
    color: darkgrey;
    margin-bottom: 10px;
}
.user-details {
    display: flex;
    align-items: center;
}
.user-img {
    width: auto;
    height: 50px;
    border-radius: 50%;
    /* margin-right: 10px; */
}
.user-details h5 {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}
.user-details h5 span:nth-child(2) {
    /* font-size: 15px; */
    /* margin: 6px 0; */
    margin-top: 0.5rem;
    font-weight: lighter;
}
.user-details h5 span:nth-child(3) {
    /* font-size: 15px; */
    /* margin: 6px 0; */
    margin-top: 0.5rem;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination {
    position: relative;
    
    margin-top: 1.5rem;
}

/* banner */
.banner-container{
    height: 38vh;
    background-color: #0D28A6;
    margin-top: 5rem;
    border-radius: 13px;
}
.banner-main{
    text-align: center;
    color: white;
    padding-top: 5rem;
    width: auto;
}
.banner-main p{
    padding: 3rem 20rem 3rem;
    /* width: 80%; */
    
}
.banner-main a{
    /* padding-top: ; */
}


/* faq */
.faq{
    height: 55vh;
    margin-top: 10rem;
}
.faqs-container{
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 1rem;
}
.accordion:nth-child(2) {
    margin-top: 1rem;
  }
  .accordion:nth-child(3) {
    margin-top: 1rem;
  }
  .accordion:nth-child(4) {
    margin-top: 1rem;
  }
  .accordion:nth-child(5) {
    margin-top: 1rem;
  }
  .accordion-item {
    background-color: #fff;
    /* color: #111; */
    /* margin: 1rem 0; */
    border: 1px solid lightgray ;
    /* border-radius: 0.5rem; */
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25); */
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    /* font-weight: bold; */
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  
  /* @media(max-width:767px) {
    html {
      font-size: 14px;
    }
  } */




/* footer */
footer{
    padding-top: 5rem;
    font-size: 0.9rem;
}
.footer__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer__container > div h4{
    margin-bottom: 1.2em;
}
.footer__1 p{
    margin: 0 0 2rem;
}
/* .footer_4 h4{
  margin-bottom: 5rem;
} */
footer ul li{
    margin-bottom: 0.7rem;
}
footer ul li a:hover{
    text-decoration: underline;
}

.footer__socials{
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
    
}
.permalinks li a{
  color: black;
}
.footer__socials i{
  border-radius: 100%;
  color: white;
  padding: 0.5rem;
  background-color: #0D28A6;
}
.footer__copyright{
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid lightgrey;
    font-size: 1.2rem;
}
.logo-footer{
  padding: 0.4rem 4rem;
    
    background-color: darkblue;
}





/* media queries tablet */
@media screen and (max-width: 1024px){
    .container{
      width: var(--container-width-md);
    }
    h1{
      font-size: 2.2rem;
    }
    h2{
      font-size: 1.7rem;
    }
    h3{
      font-size: 1.4rem;
    }
    h4{
      font-size: 1.2rem;
    }

/* navbar */
nav button{
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    /* color: #fff; */
    cursor: pointer;
  }
  nav button#close-menu-btn{
    display: none;
  }
  .nav__menu{
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
    color: black;
  }
  .nav__menu li{
    width: 100%;
    height: 5.8rem;
    animation: animateNav 1s linear forwards;
    transform-origin: top right;
  }
  .nav__menu li a{
    background: #F1F3FF;;
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .nav__menu li a:hover{
    background: #dee1f0;;
    color: #fff;
  }

  @keyframes animateNav {
    0%{
        transform: rotateZ(-90deg);
    }
    100%{
        transform: rotateZ(0);
    }
  }

  /* header */
  header{
    height: 55vh;
    margin-bottom: 4rem;
  }
  .header__container{
    gap: 0;
    padding-bottom: 3rem;
  }
  .header__left h1{
    font-size: 2rem;
  }
  .header__left p{
    font-size: 0.9rem;
  }

  /* our services */
  .our_services{
    height: auto;
    margin-top: 10rem;
  }
  .our_service_container{
    grid-template-columns: 1fr;
    gap: 3rem;
    align-items: center;

  }
  .service_right{
    margin-top:0;
  }
  .our_service_image{
    width: 90%;
    /* width: auto; */
  }


  /* .why-us */
  .why-us{
    margin-top: 5rem;
    height: auto;
  }
  .why-us-main{
    grid-template-columns: 1fr;
  }

  /* testimonial */
  .testimonials{
    margin-top: 3rem;
  }


  /* banner */
  .banner-container{
    height: auto;
  }
  .banner-main{
    width: auto;
    text-align: center;
  }
  .banner-main h1{
    padding: 0 10rem 0rem;
}
  .banner-main p{
    padding: 2rem 10rem 2rem ;
  }
  .banner-main a{
    margin-bottom: 2rem;
  }

  
  /* faq */
  .accordion-item-header{
    padding: 1.5rem;
  }
  .faqs-container{
    grid-template-columns: 1fr;
  }
  .faqs-left{
    margin-top: 0.5rem;
  }
  .faqs-right{
    margin-top: 1rem;
  }

  /* footer */
  .footer__container{
    grid-template-columns: 1fr 1fr;
  }

}



/* media queries mobile */
@media screen and (max-width : 600px){
    .container{
        width: var(--container-width-sm);
    }
    /* nav */
   .nav__menu{
    right: 3%;
   }
   header{
    height: 80vh;
    margin: 0;
    padding: 0;
   }

   /* header */
   .header__container{
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
   }
   .header__left  {
    margin: auto;
    width: auto;
    height: auto;
    /* padding: 0; */
   }
   .header__left p{
    margin-left: 10%;
   }

   /*  our services */ 
  .our_services{
    height: auto;
    margin-top: 10rem;
  }
  .our_service_container{
    grid-template-columns: 1fr;
    gap: 3rem;
    align-items: center;
  }
  .our_service_image{
    /* width: auto; */
    width: 80%;
    margin-left: 5%;
    
  }
  .service_right p{
    font-size: 0.9rem;
  }
  .service_right span{
    font-size: 0.8rem;
  }


/* banner */
.banner-container{
  height: auto;
}
.banner-main{
  width: auto;
  text-align: center;
}
.banner-main h1{
  padding: 0 3rem 0rem;
}
.banner-main p{
  padding: 3rem;
  text-align: justify;
}
.banner-main a{
  margin-bottom: 2rem;
}

/* faq */
.accordion-item-header{
  padding: 1rem;
  font-size: 0.9rem;
}



  /* footer */
  .footer__container{
    grid-template-columns: 1fr;
    /* text-align: center; */
    gap: 2rem;
   }
   .footer__1{
    /* margin: 1rem auto; */
   }
   .footer_2{
    display: none;
   }
   .footer__socials{
    /* justify-content: center; */
   }
    
}